name: Build and Release

on:
    push:
        branches: [main]
        tags:
            - 'v*.*.*'
    workflow_dispatch:

permissions:
    contents: write
    discussions: write
    actions: write

jobs:
    build:
        runs-on: windows-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Set up Go
              uses: actions/setup-go@v6
              with:
                  go-version-file: 'go.mod'
                  check-latest: true

            - name: Install dependencies
              run: |
                  go mod download
                  go mod verify

            - name: Code quality checks
              run: |
                  go vet ./...
                  go fmt ./...

            - name: Build application
              run: |
                  go build -ldflags "-s -w -H windowsgui" -o windows-dev-setup.exe main.go

            - name: Release
              if: github.ref_type == 'tag'
              uses: softprops/action-gh-release@v2
              with:
                  files: windows-dev-setup.exe
                  generate_release_notes: true
                  draft: false
                  prerelease: false
                  make_latest: true
                  fail_on_unmatched_files: true
